body {
	background-color: #eae9e9;
	font-family: 'EB Garamond', serif;
	font-size: 1em;
	padding: 10px;
}
.red {
	color: #cb0000;
}

main {
	font-size: 1.3em;
}

.left, .right, .header_main_info, .header_contacts {
	display: inline-block;
}

.left, .header_main_info {
	float: left;
	width: 60%;
}
.right, .header_contacts {
	float: right;
	width: 38%;
}

.header_main_info {
	height: 200px;
	border-bottom: 3px solid black;
	padding-bottom: 10px;
}

.profile_photo {
	height: 200px;
}

.header_fio {
	font-size: 200%;
	font-weight: bold;
}

.header_job {
	font-size: 150%;
	font-variant: small-caps;
}

.header_contacts {
	font-size: 150%;
	line-height: 200%;
    height: 200px;
    box-sizing: border-box;
}
.years, .header_contacts {
    text-align: center;
    background: #cb0000;
    border-radius: 10%;
    padding: 10px;
    color: white;
}

.header_contacts_label {
	font-style: italic;
}

.left_info {
	float: left;
	width: 30%;
	display:inline-block;
}

.right_info {
	float: right;
	width: 65%;
	display:inline-block;
}

.splitter {
	color: grey;
	width: 98%
}

.split_block {
	clear:both;
}

.position {
	font-style: italic;
	font-weight: bold;
	font-size: 120%;
}